body{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
    background: linear-gradient(to right, #0384843e, #0f3ae523);
}
.container{
  width: fit-content;
  height: 300px;
  padding-top: 12px;
  display: inline-block;
  border: 1px solid gray;
  border-bottom: 7px solid red;
  border-top: 6px solid red;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  text-align: center;
  background-color: white;
}
img{
   width: 60px;
   height: auto;
   border-radius: 30px;
   cursor: pointer;
   animation: move .7s  linear  infinite ;
   background-color: transparent;
}

img:hover{
   animation-play-state: paused;
}
@keyframes move {
  0%{rotate:0deg;}
  40%{rotate:10deg;}
  80%{rotate:-10deg;}
  100%{rotate:0deg;}
}
.game-heading{
  margin-top: 0;
  font-size: 25px;
}
.fingers{
  border: none;
  border-radius: 30px;
  background-color: white;

}
.ABC{
  display: flex;
  justify-content: center;
  width: 300px;
  margin: auto;
  
}
.reset-but{
  display: block;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-top: 1px solid rgb(172, 6, 142);
  border-bottom: 1px solid rgb(172, 6, 142);
  border-radius: 8px;
  color: rgb(172, 6, 142);
  font-weight: 900;
  cursor: pointer;
}
.reset-but:hover{

  opacity: 0.9;
}
.reset-but:active{
color: red;
}
